<li>

  <div class="collapsible-header">
    <div class="row">
      <div class="col s2">
        <i class="material-icons">list</i>
      </div>
      <div class="col s8">
        <%= list.title %>
      </div>
      <div class="col s2">
        <%= link_to "Edit", edit_list_path(list), class: "btn-flat" %>
      </div>
    </div>
  </div>

  <div class="collapsible-body">
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
</li>
