<div class="container">
  <div class="section">
    <div col="row">
      <%= link_to "New List", new_list_path, class: "waves-effect waves-light btn col s10 offset-s1" %>
    </div>
  </div>
</div>



<div col="row">
  <div class="col s12">
    <ul class="collapsible popout" data-collapsible="accordion">
      <%= render partial: "dashboard/list_row",
                 collection: @dashboard_presentor.task_lists,
                 as: :list,
                 locals: { show_delete: false, show_completed_tasks: false } %>
    </ul>
  </div>
</div>


