<div col="row">
  <div class="col s12">
    <ul class="collapsible popout" data-collapsible="accordion">
      <%= render partial: "dashboard/list_row",
                 collection: @dashboard_presentor.task_lists_with_completed_tasks,
                 as: :list,
                 locals: { show_delete: false, show_completed_tasks: true }%>
    </ul>
  </div>
</div>


