<div class="container">

  <div class="row">
    <div id="flash-messages" class="col s8 offset-s2 center-align">
      <%= render partial: "layouts/flash" %>
    </div>
  </div>


  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#task-lists">Task Lists</a></li>
        <li class="tab col s3"><a href="#archived-task-lists">Archived Lists</a></li>
        <li class="tab col s3"><a href="#completed-task-lists">Completed Tasks</a></li>
      </ul>
    </div>
    <div id="task-lists">
      <%= render partial: "dashboard/task_lists" %>
    </div>
    <div id="archived-task-lists">
      <%= render partial: "dashboard/archived_task_lists" %>
    </div>
    <div id="completed-task-lists">
      <%= render partial: "dashboard/task_lists_with_completed_tasks" %>
    </div>
  </div>

</div>
