<div class="container">
  <div class="row">

    <div class="col s4" id="task-lists">

      <%= render partial: "dashboard/task_lists" %>

    </div>


    <div class="col s8">

    </div>

  </div>
</div>
