<div class="container">
  <h1 class="header center" id="login-header">TaskTwo</h1>

  <div class="row center">
    <h5 class="header col s12 black-text">A task manager cause i screwed up the first time.</h5>
  </div>

  <div class="row center">
    <%= link_to "Login with Github",  "/auth/github", class: "waves-effect waves-light btn" %>
  </div>
</div>

