<%= render partial: "layouts/header" %>

<div class="row">
  <div id="flash-messages" class="col s8 offset-s2 center-align">
    <%= render partial: "layouts/flash" %>
  </div>
</div>

<%= render partial: "tasks/form", locals: { form_title: "Create Task", form_method: :post, task: @task, list: @list } %>




