<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper" id="navbar">
        <%= link_to "TaskTwo", root_path, class: "brand-logo left" %>
        <ul class="right">
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
